:root {
  --white: #fff;
  --gray-100: #F2F2F2;
  --gray-200: #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;

  --blue-dark: #1E6F9F;
  --blue: #4EA8DE;
  --purple-dark: #5E60CE;
  --purple: #8284FA;

  --danger: #E25858;
}

:focus {
  outline: transparent;
  /* box-shadow: 0 0 0 2px var(--green-300); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

body {
  background-color: var(--gray-600);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}

body,
input,
textarea,
button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: var(--gray-100);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--blue-dark) var(--gray-500);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--gray-500);
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--gray-400);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--gray-300);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--blue-dark);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--blue);
}
